In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("D:/git/harsh_BigDataProject/data/raw/PlayStation Sales and Metadata (PS3PS4PS5) (Oct 2025).csv")
df2 = pd.read_csv("D:/git/harsh_BigDataProject/data/raw/video_game_reviews.csv")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4963 entries, 0 to 4962
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           4963 non-null   object
 1   Console        4963 non-null   object
 2   Name           4963 non-null   object
 3   Publisher      4963 non-null   object
 4   Developer      4963 non-null   object
 5   Total Shipped  4963 non-null   float64
 6   Total Sales    4963 non-null   float64
 7   NA Sales       4963 non-null   float64
 8   PAL Sales      4963 non-null   float64
 9   Japan Sales    4963 non-null   float64
 10  Other Sales    4963 non-null   float64
 11  Release Date   3526 non-null   object
 12  Last Update    2801 non-null   object
 13  rating         2847 non-null   float64
 14  ratings_count  2847 non-null   float64
 15  metacritic     1530 non-null   float64
 16  genres         2803 non-null   object
 17  platforms      2847 non-null   object
dtypes: float64(9), object(9)
memory usage: 698.1+ KB

In [5]:
df1.describe()

,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,rating,ratings_count,metacritic
count,4.963000e+03,4.963000e+03,4.963000e+03,4.963000e+03,4.963000e+03,4.963000e+03,2847.000000,2847.000000,1530.000000
mean,9.352005e+04,3.008906e+05,1.178199e+05,1.170482e+05,2.178723e+04,4.426154e+04,2.762455,269.917106,73.826144
std,8.977504e+05,1.055158e+06,4.052999e+05,4.946509e+05,8.250273e+04,1.639967e+05,1.531923,618.110338,11.532527
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,21.000000
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.400000,8.000000,68.000000
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.380000,44.000000,76.000000
75%,0.000000e+00,1.600000e+05,7.000000e+04,3.000000e+04,0.000000e+00,2.000000e+04,3.830000,205.500000,82.000000
max,2.269000e+07,2.032000e+07,6.370000e+06,9.850000e+06,2.170000e+06,3.120000e+06,4.760000,7225.000000,97.000000

In [6]:
df1.head()

,Game,Console,Name,Publisher,Developer,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,Last Update,rating,ratings_count,metacritic,genres,platforms
0,PS3_Grand Theft Auto V,PS3,Grand Theft Auto V,Rockstar Games,Rockstar North,0.0,20320000.0,6370000.0,9850000.0,990000.0,3120000.0,2013-09-17,NaN,4.47,7225.0,92.0,Action,"PC, PlayStation 5, Xbox One, PlayStation 4, Xb..."
1,PS4_Grand Theft Auto V,PS4,Grand Theft Auto V,Rockstar Games,Rockstar North,0.0,19390000.0,6060000.0,9710000.0,600000.0,3020000.0,2014-11-18,2018-01-03,4.47,7225.0,92.0,Action,"PC, PlayStation 5, Xbox One, PlayStation 4, Xb..."
2,PS4_Call of Duty: Black Ops 3,PS4,Call of Duty: Black Ops 3,Activision,Treyarch,0.0,15090000.0,6180000.0,6050000.0,410000.0,2440000.0,2015-11-06,2018-01-14,NaN,NaN,NaN,NaN,NaN
3,PS4_Red Dead Redemption 2,PS4,Red Dead Redemption 2,Rockstar Games,Rockstar Games,0.0,13940000.0,5260000.0,6210000.0,210000.0,2260000.0,2018-10-26,2018-11-02,4.59,5357.0,96.0,Action,"PC, Xbox One, PlayStation 4"
4,PS3_Call of Duty: Black Ops II,PS3,Call of Duty: Black Ops II,Activision,Treyarch,0.0,13800000.0,4990000.0,5880000.0,650000.0,2280000.0,2012-11-13,NaN,3.96,1417.0,74.0,"Shooter, Action","PC, Xbox One, Xbox 360, PlayStation 3, Wii U"

In [14]:
df1['rating'].fillna(df1['rating'].mean(), inplace=True)
df1['ratings_count'].fillna(df1['ratings_count'].mean(), inplace=True)
df1['metacritic'].fillna(df1['metacritic'].mean(), inplace=True)

C:\Users\harsh\AppData\Local\Temp\ipykernel_19988\3054476512.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['rating'].fillna(df1['rating'].mean(), inplace=True)
C:\Users\harsh\AppData\Local\Temp\ipykernel_19988\3054476512.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['ratings_count'].fillna(df1['ratings_count'].mean(), inplace=True)
C:\Users\harsh\AppData\Local\Temp\ipykernel_19988\3054476512.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['metacritic'].fillna(df1['metacritic'].mean(), inplace=True)

In [15]:
print(df1.isna().sum())

print(df1[["Game", "Console"]].nunique())
print(df1[["Game", "Console"]].head())

Game                0
Console             0
Name                0
Publisher           0
Developer           0
Total Shipped       0
Total Sales         0
NA Sales            0
PAL Sales           0
Japan Sales         0
Other Sales         0
Release Date     1437
rating              0
ratings_count       0
metacritic          0
platforms        2116
dtype: int64
Game       4963
Console       3
dtype: int64
                             Game Console
0          PS3_Grand Theft Auto V     PS3
1          PS4_Grand Theft Auto V     PS4
2   PS4_Call of Duty: Black Ops 3     PS4
3       PS4_Red Dead Redemption 2     PS4
4  PS3_Call of Duty: Black Ops II     PS3

In [16]:
df1=df1.drop(columns=["Last Update","genres"])

KeyError: "['Last Update', 'genres'] not found in axis"

In [17]:
df1

,Game,Console,Name,Publisher,Developer,Total Shipped,Total Sales,NA Sales,PAL Sales,Japan Sales,Other Sales,Release Date,rating,ratings_count,metacritic,platforms
0,PS3_Grand Theft Auto V,PS3,Grand Theft Auto V,Rockstar Games,Rockstar North,0.0,20320000.0,6370000.0,9850000.0,990000.0,3120000.0,2013-09-17,4.470000,7225.000000,92.000000,"PC, PlayStation 5, Xbox One, PlayStation 4, Xb..."
1,PS4_Grand Theft Auto V,PS4,Grand Theft Auto V,Rockstar Games,Rockstar North,0.0,19390000.0,6060000.0,9710000.0,600000.0,3020000.0,2014-11-18,4.470000,7225.000000,92.000000,"PC, PlayStation 5, Xbox One, PlayStation 4, Xb..."
2,PS4_Call of Duty: Black Ops 3,PS4,Call of Duty: Black Ops 3,Activision,Treyarch,0.0,15090000.0,6180000.0,6050000.0,410000.0,2440000.0,2015-11-06,2.762455,269.917106,73.826144,NaN
3,PS4_Red Dead Redemption 2,PS4,Red Dead Redemption 2,Rockstar Games,Rockstar Games,0.0,13940000.0,5260000.0,6210000.0,210000.0,2260000.0,2018-10-26,4.590000,5357.000000,96.000000,"PC, Xbox One, PlayStation 4"
4,PS3_Call of Duty: Black Ops II,PS3,Call of Duty: Black Ops II,Activision,Treyarch,0.0,13800000.0,4990000.0,5880000.0,650000.0,2280000.0,2012-11-13,3.960000,1417.000000,74.000000,"PC, Xbox One, Xbox 360, PlayStation 3, Wii U"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4958,PS4_Chicory: A Colorful Tale,PS4,Chicory: A Colorful Tale,Unknown,Greg Lobanov,0.0,0.0,0.0,0.0,0.0,0.0,NaN,3.920000,64.000000,89.000000,"PC, PlayStation 4, Nintendo Switch, macOS"
4959,PS4_Children of Morta,PS4,Children of Morta,11 bit studios,Dead Mage Studio,0.0,0.0,0.0,0.0,0.0,0.0,2019-10-15,3.910000,390.000000,80.000000,"PC, Xbox One, PlayStation 4, Nintendo Switch, ..."
4960,PS4_Children of Silentown,PS4,Children of Silentown,Unknown,Elf Games,0.0,0.0,0.0,0.0,0.0,0.0,NaN,4.000000,14.000000,76.000000,"PC, PlayStation 5, Xbox One, PlayStation 4, Xb..."
4961,PS4_Chimparty,PS4,Chimparty,Sony Interactive Entertainment,NapNok Games,0.0,0.0,0.0,0.0,0.0,0.0,2018-11-13,3.500000,10.000000,73.826144,"PlayStation 4, iOS"
4962,PS5_qomp2,PS5,qomp2,Unknown,Graphite Lab,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2.762455,269.917106,73.826144,NaN

In [19]:
df2.head()

,Game Title,User Rating,Age Group Targeted,Price,Platform,Requires Special Device,Developer,Publisher,Release Year,Genre,Multiplayer,Game Length (Hours),Graphics Quality,Soundtrack Quality,Story Quality,User Review Text,Game Mode,Min Number of Players
0,Grand Theft Auto V,36.4,All Ages,41.41,PC,No,Game Freak,Innersloth,2015,Adventure,No,55.3,Medium,Average,Poor,"Solid game, but too many bugs.",Offline,1
1,The Sims 4,38.3,Adults,57.56,PC,No,Nintendo,Electronic Arts,2015,Shooter,Yes,34.6,Low,Poor,Poor,"Solid game, but too many bugs.",Offline,3
2,Minecraft,26.8,Teens,44.93,PC,Yes,Bungie,Capcom,2012,Adventure,Yes,13.9,Low,Good,Average,"Great game, but the graphics could be better.",Offline,5
3,Bioshock Infinite,38.4,All Ages,48.29,Mobile,Yes,Game Freak,Nintendo,2015,Sports,No,41.9,Medium,Good,Excellent,"Solid game, but the graphics could be better.",Online,4
4,Half-Life: Alyx,30.1,Adults,55.49,PlayStation,Yes,Game Freak,Epic Games,2022,RPG,Yes,13.2,High,Poor,Good,"Great game, but too many bugs.",Offline,1

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47774 entries, 0 to 47773
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Game Title               47774 non-null  object
 1   User Rating              47774 non-null  float64
 2   Age Group Targeted       47774 non-null  object
 3   Price                    47774 non-null  float64
 4   Platform                 47774 non-null  object
 5   Requires Special Device  47774 non-null  object
 6   Developer                47774 non-null  object
 7   Publisher                47774 non-null  object
 8   Release Year             47774 non-null  int64
 9   Genre                    47774 non-null  object
 10  Multiplayer              47774 non-null  object
 11  Game Length (Hours)      47774 non-null  float64
 12  Graphics Quality         47774 non-null  object
 13  Soundtrack Quality       47774 non-null  object
 14  Story Quality            47774 non-null  object
 15  User Review Text         47774 non-null  object
 16  Game Mode                47774 non-null  object
 17  Min Number of Players    47774 non-null  int64
dtypes: float64(3), int64(2), object(13)
memory usage: 6.6+ MB

In [23]:
print(df2.isna().sum())

Game Title                 0
User Rating                0
Age Group Targeted         0
Price                      0
Platform                   0
Requires Special Device    0
Developer                  0
Publisher                  0
Release Year               0
Genre                      0
Multiplayer                0
Game Length (Hours)        0
Graphics Quality           0
Soundtrack Quality         0
Story Quality              0
User Review Text           0
Game Mode                  0
Min Number of Players      0
dtype: int64

In [24]:
df2 = df2.drop(columns=["Soundtrack Quality"])